// Variables :: Colours
$color-green: #1ADA6B;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #f42727;
$color-blue: #5498F0;
$color-light-grey: #a7a7a7;
$color-mid-grey: #5F5B55;
$color-dark-grey: #333;

$color-primary: $color-green;

